apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backup-pvc
  namespace: anjouexplore
  labels:
    app: postgres
    component: backup
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi  # Stockage pour ~30 dumps quotidiens (environ 30-60MB par dump)
